html, body{
	height: 100%;
	
}

body {
	font-size:14px;
	font-family: 'Brandon_light';
	background:url('../images/bck.png');
	background-size: cover;
	background-repeat: no-repeat;
	margin:0;

}

@font-face { 
	font-family: 'Brandon_bld'; 
	src: url('../fonts/Brandon_bld.otf') format('truetype');
}

@font-face { 
	font-family: 'Brandon_blk'; 
	src: url('../fonts/Brandon_blk.otf') format('truetype');
}

@font-face { 
	font-family: 'Brandon_light'; 
	src: url('../fonts/Brandon_light.otf') format('truetype');
}

@font-face { 
	font-family: 'Brandon_med'; 
	src: url('../fonts/Brandon_med.otf') format('truetype');
}

.nav-bar{
	text-align: center;
	width: 100%;
	list-style: none;
	padding:0;
	margin-top: 25px;
}

.nav-bar ul{
	margin-left: 150px;
}

.nav-bar li {
	display: inline;
	text-decoration:none;
	margin-right:150px;
	color:white;
	font-family: 'Brandon_light',sans-serif;
	font-weight: 500;
	font-size: 16px;
}

.endofbar li{
	margin-right: 0px;
}

.nav-bar a{
	text-decoration: none;
	color: white;
}

.nav-bar a:hover{
	color:#50D2C2;
	transition:0.4s ease;
}

.title{
	width: 100%;
	margin: auto;
	text-align: center;
	margin-top:-60px;
}

.title img{
	width: 26%;
    margin-top: 58px;
    margin-bottom: 38px;
}

.sub-title{
	margin-top:-50px;
	text-align: center;	
	margin-right: auto;
	margin-left:auto;
}

.sub-title p{
	color:#FEFEFE;
	font-family: 'Brandon-med', sans-serif;
	opacity: 0.75;
	letter-spacing: 2px;
	font-size: 17px;
}



.search-bar input[type="search"] {
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-weight: 300;
    height: 60px;
    font-size: 51px;
    border-bottom: 1px solid white;
}

.search-bar .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
  	background-color: #428bca;
  	border-color: #357ebd;
  	opacity: 1;
  	padding: 10px 17px;
  	font-size: 27px;
}

.hide {
  display: none;
}


.btn-sign{
	margin-top: 100px;
	margin-right:auto;
	margin-left:auto;
	text-align: center;
	font-weight: 100;
}


.sign{
	width: 600px;
	background: #50D2C2;
	padding:20px;
	border-radius:3px;
	color: #FFFFFF;
    text-decoration: none;
    font-family: 'Brandon-light', sans-serif;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 12px;
}

.sign:hover{
	background:#36BCAC;
	transition:0.4s ease;
}

.social-net{
	margin:auto;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.social-net img{
	height:15px;
	margin-right: 35px;
}

.sign-in{
	background-color:rgba(0,0,0,0.71);
	color:#FFFFFF;
	position:absolute;
	width: 100%;
	top : 210px;
	left: 0;
	right: 0;
	text-align: center;
	height:600px;
	opacity: 1;
	display: none;
}

.title2{
	margin-top:-25px;
	text-align: center;
	font-size: 24px;
	margin-bottom:56px;
}

.exit{
	float: right;
	margin-right: 40px;
	margin-top: -40px;
	margin-bottom: 25px;
}

.exit img{
	width:25px;
	height:25px;
	cursor:pointer;
}

.fbconnect{
	float:left;
	margin-left:150px;
}

.fbconnect img{
	width:30%;
}

form{
	width:56%;
	margin:auto;

}

label{
	display: block;
	font-size: 18px;
	margin-bottom: 15px;
	text-align: left;
}

input{
	display: block;
	text-align: center;
	margin:auto;
	opacity: 0.4;
	width:200px;
	height: 35px;
	border-radius: 3px;
	margin-bottom: 15px;
	border:none;
	margin-top:60px;
}

input:focus{
	outline: none;
}

form.inscri input{
	width:250px;
	margin-bottom:20px;


}

form.inscri label{
	text-align: left;
    margin-left: 230px;
    margin-bottom:-50px;
}

#motdepass{
	font-size:25px;
}

#email{
	font-size:15px;
}

.submit{
	width:200px;
	height:35px;
	padding: 7px;
	opacity: 1;
	background:#50D2C2; 
	margin-top:35px;
	border:none;
}

.submit:hover{
	background-color: #2DECB7;
}

.connexion{
	background-color:rgba(0,0,0,0.71);
	color:#FFFFFF;
	position:absolute;
	width: 100%;
	top : 210px;
	left: 0;
	right: 0;
	text-align: center;
	height:600px;
	opacity: 1;
	display: none;
}



.acount{
	background-color:rgba(0,0,0,0.99);
	color:#FFFFFF;
	position:absolute;
	width: 100%;
	top : 210px;
	left: 0;
	right: 0;
	text-align: center;
	height:600px;
	display: none;
}

.profil{
	float: left;
    text-align: left;
    display: inline-block;
    margin-left: 40px;
}

.profil p{
	font-size: 17px;
}

.picture{
	display: inline-block;
    width: 80px;
    float: left;
    height: 80px;
    border-radius: 3px;
    border: 2px solid red;
    margin-left: 70px;
}

.menu{
	display: block;
    float: left;
    position: absolute;
    top: 230px;
    left: 0px;
}

.menu ul{
	list-style: none;
    text-align: left;
}

.menu li {
	margin-bottom: 15px;
	font-size: 21px;

}

.menu a{
	text-decoration: none;
	color: white;

}



.content{
	width:65%;
	display: inline-block;
}

.film{
	float: left;

}

.film img{
	width: 154px;
    height: 212px;
}








/*-----------------SEARCH-----------------*/
.search{
	background-color:black;
	opacity:1;
	color:#FFFFFF;
	position:absolute;
	width: 100%;
	top : 210px;
	left: 0;
	right: 0;
	text-align: center;
	height:700px;
	display: none;
}

.search.visible{
	background-color:rgba(0,0,0,0.8);
	color:#FFFFFF;
	position:absolute;
	width: 100%;
	top : 210px;
	left: 0;
	right: 0;
	text-align: center;
	height:700px;
	display: block;
}

.backdrop2{
	z-index: -50;
	background-color:rgba(0,0,0,0.9);
	height: 800px;
}

.container{
	width:100%;
	margin:auto;
	text-align: center;
	margin-top: 50px;
	position: relative;
}

.exit3{
	display: inline-block;
	float: right;
	margin-top:-20px;
	margin-right: 35px;
	cursor:pointer;
}

.exit3 img{
	width:25px;
	height: 25px;

}

.article{
	display: inline-block;
	float: left;
	margin-right: 25px;
	cursor:pointer;
}

.article img{
	width: 154px;
    height: 212px;
    display: inline-block;
}

.article img:hover{
	width: 164px;
    height: 222px;
    border:4px solid white;
}
.settings{
	z-index:70;
}

.settings p{
	font-size:14px;
}

.settings img{
	width:17px;
	height:17px;
}

.settings img:hover{
	width: 17px;
    height: 17px;
    border:none;
}

.btn-search{
	margin-top: 450px;
	margin-right:auto;
	margin-left:auto;
	text-align: center;
	font-weight: 100;
}


.search-btn{
	width: 600px;
	background: #50D2C2;
	padding:20px;
	border-radius:3px;
	color: #FFFFFF;
    text-decoration: none;
    font-family: 'Brandon-light', sans-serif;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 12px;
}

.movie{
	background-color:black;
	opacity:1;
	color:#FFFFFF;
	position:absolute;
	width: 100%;
	top : 80px;
	left: 0;
	right: 0;
	text-align: center;
	height:700px;
	display: none;
	-vendor-animation-duration: 4s;
}

.backdrop{
	z-index: -50;
	background-color:rgba(0,0,0,0.85);
	height: 800px;
}

.backdrop img{
	width:100%;
	z-index: -5;
	position: absolute;
	top: 0;
	left: 0;
}




.ss-bar{
	width:100%;
}

.name{
	margin:auto;
	text-align: center;
	display: inline-block;

}

.name p{
	font-size: 24px;

}

.love{
	display: inline-block;
	margin-left: 15px;
	position: relative;

}

.love img{
	width:20px;
	height: 20px;
	display: inline-block;
	margin-left: 25px;
	cursor:pointer;
	margin-top: -18px;
	z-index: 3;
}

.exit2{
	display: inline-block;
    float: right;
    position: relative;
    cursor: pointer;
    margin-right: 75px;
    margin-top: 25px;
    z-index: 6;
}

.exit2 img{
	width:25px;
	height: 25px;
}

.cover{
	display: inline-block;
	margin-top:50px;
}

.cover img{
	width: 100%;
    position: relative;
    z-index: 55;
}

.rating{
	display: inline-block;
    float: right;
    margin-right: 120px;
    margin-top: 50px;
}

.rating p{
	font-size: 22px;
    font-weight: bold;
	margin-bottom: -10px;
}

p.directeur{
	margin-top:30px;
	font-size: 22px;
    font-weight: bold;
}

p#directeur{
	font-size: 18px;
}



.overview{
	width: 600px;
    margin-left: 250px;
    margin-top: 50px;
}

.overview p{
	text-align: left;
	font-size: 20px;
}




.footer{

	width:100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.47);
	height: 40px;
	position: absolute;
	bottom:0;
}

.footer img{
	width:15%;
	display: inline-block;
	margin-right: 300px;
}

.footer p{
	color:#888888;
	display: inline-block;
	float: right;
	margin-top:9px;
	margin-right: 19px;
}


























@media screen and (min-width:400px) and (max-width:876px) {

	.nav-bar ul{
		margin-left: 62px;
	}

	.title{
		margin-top:-40;
	}

	.title h2{
		font-size: 70px;
	}

}

@media screen and (min-width:400px) and (max-width:788px) {

	.nav-bar ul{
		margin-left: 30px;
	}

	.nav-bar li{
		margin-right: 60px;
	}

	.title{
		margin-top:-20px;
		margin-bottom:70px;
	}

	.title h2{
		font-size: 50px;
	}

	.sub-title p{
		font-size:14px;
	}

	.search-bar input[type="search"]{
		font-size:35px;
	}

	.sign{
		margin-bottom:70px;
		font-size:9px;
	}

}

@media screen and (min-width:400px) and (max-width:650px) {
	
	.search-bar input[type="search"]{
		font-size:27px;
	}

	.sign{
		margin-bottom:110px;

	}

	.social-net{
		margin-top: 100px;
	}


@media screen and (min-width:400px) and (max-width:485px) {
	
	.search-bar input[type="search"]{
		font-size:25px;
	}

	.nav-bar ul{
		margin-left:20px;
	}

	.nav-bar li{
		margin-right:15px;
	}

	.sign{
		font-size: 08px;
	}

	.title h2{
		font-size: 45px;
	}

	.sub-title p{
		font-size: 12px;
	}

	form{
		margin-left:120px;
		width:65%;
	}
	input{
		width:150px;
	}

	label{
		font-size: 11px;
		margin-left: 40px;
	}

	.submit








